############################################################################
### Configuration file for script: indelQuantificationFromFastqPaired.pl ###
############################################################################

##Any lines with a hash/pound (#) sign will not be read.
##This configuration file can be used as a template for preparing any number
##	of Fastq files for Indel annotations
##The script reads in the labels and stores the parameter values accordingly.

##Comments can be added using a double hash/pound (##) sign at the
##	start of the line.
##Caution: Do not leave any text stray, without a ## sign.

#############################################################################
### Order of columns (parameters) and paramter labels ###
##Caution: DO NOT DELETE this section bound by multiple # signs!
##Caution: Prefer NOT TO ADD ANY EXTRA LINES in this section!
##	If you do, comment it properly.
##This is the configuration file with the following order of parameters:
LABELS:	ReadPair1	ReadPair2	AvgReadLength	MinAmpliconLength	ForwardAdapter	ReverseAdapter	ReferenceSeqFile	AmpliconCutSites
##The order of the columns can be modified by modification of the above line
##Be sure not to change the text labels of any column/parameter even if you
##	change the order. This could lead to data mismatch in the script.
#############################################################################

#############################################################################
### Descripton of the column (parameter) labels ###
##ReadPair1: Filename (without location) for the fastq reads pair 1
##ReadPair2: Filename (without location) for the fastq reads pair 2
##AmpliconCutSites: Filename (without location) for the tab-seperated text
##	containing each amplicon name and it's nucleotide cut site for the sample
##	(/barcode) for example: R38_tar	115
##ReferenceSeqFile: Filename (without location) for the reference sequence
##	in FASTA format (same or different per sample/barcode).
##Following 4 paramters are used for adapter trimming:
##AvgReadLength: Estimate of average read length, single pair (to trim by length)
##MinAmpliconLength: Minimum amplicon length (overall/per sample) (to trimm by length)
##ForwardAdapter: Sequence of the forward adapter, (to trim by sequence)
##ReverseAdapter: Sequence of the reverse adapter, (to trim by sequence)
#############################################################################

#############################################################################
### Configuration values below ###
##Multiple entries allowed: one entry per line. Values should be tab-separated.
##Order of the values should follow the parameter order section above.
##Filenames should not have spaces or any special characters (\/:?"<>|).
##Only hyphen (-) or underscore (_) are allowed in filenames.

Barcode-01_S1_L001_R1_001.fastq	Barcode-01_S1_L001_R2_001.fastq	300	210	AATGATACGGCGACCACCGAGATCTACACGTTCAGAGTTCTACAGTCCGACGATCA	CAAGCAGAAGACGGCATACGAGATAAGTCGAGATGTGACTGGAGTTCAGACGTGTGCTCTTCCGATC	Barcode-01-ref.fa	Barcode-01-sites.txt
Barcode-02_S6_L001_R1_001.fastq	Barcode-02_S6_L001_R2_001.fastq	300	210	AATGATACGGCGACCACCGAGATCTACACGTTCAGAGTTCTACAGTCCGACGATCA	CAAGCAGAAGACGGCATACGAGATATACTTCGATGTGACTGGAGTTCAGACGTGTGCTCTTCCGATC	Barcode-02-ref.fa	Barcode-02-sites.txt
